@import '../common/style/var.less';

.mu-input {
  display: flex;
  flex-direction: column;
  &__container {
    display: flex;
    &--border {
      border-bottom: @--border-base;
      &.mu-input__container--focused {
        border-color: @--cell-focus-border-color;
      }
    }
  }
  &__icon-clear {
    width: 16px;
    display: flex;
    align-items: center;
  }
  &__icon {
    &--disabled {
      color: @--background-color-disabled;
    }
  }
  &__control {
    width: 100%;
    &--disabled {
      background-color: transparent;
      color: @--background-color-disabled;
    }
  }
  &__error-message {
    color: @--input-error-message-color;
    font-size: @--input-error-message-font-size;
    text-align: left;
    line-height: 22px;
    margin-top: @--margin-base;
  }
}
