
var array = require('./array.wxs');
var object = require('./object.wxs');


function traversing (classes, options) {
  if (!options) return 
  if (typeof options === 'string' || typeof options === 'number') {
    classes.push(options)
  } else if (array.isArray(options)) {
    options.forEach(function (v) { 
      traversing(classes, v)
    })
  } else if (typeof options === 'object') { 
    object.keys(options).forEach(function (v) { 
      if (options[v]) { 
        traversing(classes, v)
      }
    })
  }
}
 
function joinClasses (name, classes) {
  name = 'mu-' + name
  classes = classes.map(function (v) { 
    return name + '--' + v
  })
  classes.unshift(name)
  return classes.join(' ')
}

function breakUpMerge (name, options) { 
  var classes = []
  // 获取classes
  traversing(classes, options)
  // 拆分拼接
  return joinClasses(name, classes)
} 

module.exports.breakUpMerge = breakUpMerge
